<section class="post-thumb">
  <aside class="post-head about-head">
    <div class="container">
      <div class="grid">
        <div class="unit three-of-five">
          <h3 class="post-title">{{ page.title }}</h3>
        </div>
        <div class="unit one-of-five">
            <h4 class="post-date"></h4>
        </div>
        <div class="unit one-of-five">
            <h4 class="post-type"></h4>
        </div>
      </div>
    </div>
  </aside>

  <aside class="post-content">
    <div class="container">
      <div class="grid">
        <div class="unit three-of-five">
          {{ page.content }}
        </div>
      </div>
    </div>
  </aside>
</section>
