<section class="post-thumb">
  <aside class="post-head about-head">
    <div class="container">
      <div class="grid">
        <div class="unit three-of-five">
          <h3 class="post-title">{{ page.title }}</h3>
        </div>
        <div class="unit one-of-five">
            <h4 class="post-date"></h4>
        </div>
        <div class="unit one-of-five">
          <ul class="social-btns">
            <a href="https://twitter.com/eeeschwartz" title="Twitter" target="blank">
              <li class="social twitter">Twitter</li>
            </a>
            <a href="https://github.com/eeeschwartz" title="GitHub" target="blank">
              <li class="social github">Github</li>
            </a>
            <a href="http://www.linkedin.com/in/eeeschwartz" title="LinkedIn" target="blank" class="linkedin">
              <li class="social linkedin">LinkedIn</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </aside>

  <aside class="post-content">
    <div class="container">
      <div class="grid">
        <div class="unit three-of-five">
          {{ page.content }}
        </div>
      </div>
    </div>
  </aside>
</section>
