<footer>
  {% include _nav.html %}
  <div class="container">
    <div class="grid">
      <ul class="footer-main">
        <li class="unit one-of-three"><small>&copy;Copyright {{ site.time | date: '%Y' }} <a href="https://twitter.com/eeeschwartz" target="blank">Erik Schwartz</a></small></li>
        <li class="unit one-of-three">Handcrafted and designed by <a href="http://smithschwartz.com" target="blank">Smith Schwartz</a></li>
        <li class="unit one-of-three">Portrait illustration by <a href="https://twitter.com/ryanscheidt" target="blank">Ryan Schiedt</a></li>
        <li><a href="{{ site.url }}/feed.xml">rss</a></li>
      </ul>
    </div>
  </div>
</footer>
