/* line 17, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../_sass/toast.sass */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, ../_sass/toast.sass */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 0 1.5rem; }

/* line 15, ../_sass/toast.sass */
.grid {
  margin-left: -3%;
  max-width: 105%; }

/* line 19, ../_sass/toast.sass */
.unit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 3%;
  margin-right: -0.25em;
  overflow: hidden;
  *overflow: visible; }
  /* line 29, ../_sass/toast.sass */
  .unit.demo {
    background-color: #fff8eb;
    height: 48px;
    height: 3rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem; }

/* line 36, ../_sass/toast.sass */
.span-grid {
  width: 97%; }

/* line 39, ../_sass/toast.sass */
.one-of-two {
  width: 47%; }

/* line 42, ../_sass/toast.sass */
.one-of-three {
  width: 30.36%; }

/* line 45, ../_sass/toast.sass */
.two-of-three {
  width: 63.66667%; }

/* line 48, ../_sass/toast.sass */
.one-of-four {
  width: 22.05%; }

/* line 51, ../_sass/toast.sass */
.three-of-four {
  width: 72%; }

/* line 54, ../_sass/toast.sass */
.one-of-five {
  width: 17.01%; }

/* line 57, ../_sass/toast.sass */
.two-of-five {
  width: 37%; }

/* line 60, ../_sass/toast.sass */
.three-of-five {
  width: 57%; }

/* line 63, ../_sass/toast.sass */
.four-of-five {
  width: 77%; }

@media screen and (max-width: 650px) {
  /* line 67, ../_sass/toast.sass */
  .grid {
    margin-left: 0;
    max-width: none; }

  /* line 70, ../_sass/toast.sass */
  .unit {
    width: auto;
    margin-left: 0;
    display: block; } }
/* line 75, ../_sass/toast.sass */
p, .p, ul, ol, hr, table, form, pre, h1, .alpha, h2, .beta {
  margin-bottom: 30px;
  margin-bottom: 1.5rem; }

/* line 79, ../_sass/toast.sass */
h1, .alpha {
  font-size: 60px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1; }

/* line 85, ../_sass/toast.sass */
h2, .beta {
  font-size: 30px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2; }

/* line 91, ../_sass/toast.sass */
h3, .gamma {
  font-size: 20px;
  font-size: 1rem;
  font-weight: 700; }

/* line 96, ../_sass/toast.sass */
hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1px; }

/* line 101, ../_sass/toast.sass */
html {
  font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif; }

@media screen and (max-width: 650px) {
  /* line 105, ../_sass/toast.sass */
  html {
    font-size: 100%; } }
/* line 16, ../_sass/screen.sass */
html {
  background: #fed965; }

/* line 19, ../_sass/screen.sass */
body {
  background: white; }

/* line 22, ../_sass/screen.sass */
body {
  font-family: "Lato", sans-serif;
  color: #75795f; }

/* line 26, ../_sass/screen.sass */
.title, nav, .post-title, h3 {
  font-family: "Pathway Gothic One", sans-serif; }

/* line 29, ../_sass/screen.sass */
img {
  width: 100%; }

/* line 32, ../_sass/screen.sass */
p {
  margin-bottom: 1rem; }

/* line 35, ../_sass/screen.sass */
iframe {
  height: 700px;
  width: 100%; }

/* line 39, ../_sass/screen.sass */
.logo {
  height: 90%;
  width: 90%; }

/* line 43, ../_sass/screen.sass */
.title {
  font-size: 177px;
  letter-spacing: 4px;
  padding-top: 100px; }

/* line 48, ../_sass/screen.sass */
footer {
  font-size: 90%; }

/* line 51, ../_sass/screen.sass */
nav {
  color: #dd684d; }

/* line 54, ../_sass/screen.sass */
a {
  color: #dd684d;
  text-decoration: none; }

/* line 58, ../_sass/screen.sass */
a:hover {
  color: #cf4728;
  text-decoration: underline; }

/* line 62, ../_sass/screen.sass */
a.current-blog {
  color: #86857f; }

/* line 65, ../_sass/screen.sass */
a.current-blog:hover {
  color: #6c6b66;
  text-decoration: underline; }

/* line 69, ../_sass/screen.sass */
a.current-projects {
  color: #9a8170; }

/* line 72, ../_sass/screen.sass */
a.current-projects:hover {
  color: #7e6859;
  text-decoration: underline; }

/* line 76, ../_sass/screen.sass */
a.current-vine {
  color: #75795f; }

/* line 79, ../_sass/screen.sass */
a.current-vine:hover {
  color: #595c49;
  text-decoration: underline; }

/* line 83, ../_sass/screen.sass */
a.current-about {
  color: #507881; }

/* line 86, ../_sass/screen.sass */
a.current-about:hover {
  color: #3c5b62;
  text-decoration: underline; }

/* line 90, ../_sass/screen.sass */
.title a {
  color: #f7fe9c; }

/* line 93, ../_sass/screen.sass */
.title a:hover {
  color: #fafec4;
  text-decoration: none; }

/* line 98, ../_sass/screen.sass */
header li, footer li {
  text-align: center; }

/* line 101, ../_sass/screen.sass */
.title {
  color: #f7fe9c; }

/* line 104, ../_sass/screen.sass */
header {
  background: #fed965; }

/* line 108, ../_sass/screen.sass */
header nav, footer nav {
  background: #f7fe9c; }

/* line 111, ../_sass/screen.sass */
h2.tag-line {
  color: #86857f;
  margin-bottom: 15px;
  line-height: 1;
  text-align: center; }

/* line 117, ../_sass/screen.sass */
h2.tag-line-border {
  margin-bottom: 40px; }

/* line 121, ../_sass/screen.sass */
header nav, footer nav {
  font-size: 30px;
  font-weight: 200;
  line-height: 50px;
  text-transform: uppercase; }

/* line 128, ../_sass/screen.sass */
.title span {
  letter-spacing: 10px; }

/* line 133, ../_sass/screen.sass */
.post-head h3, .post-head h4 {
  color: white;
  line-height: 50px;
  font-weight: 200; }

/* line 138, ../_sass/screen.sass */
h3,
.post-title {
  text-transform: capitalize;
  font-size: 30px; }
  /* line 142, ../_sass/screen.sass */
  h3 a,
  .post-title a {
    color: inherit; }

/* line 146, ../_sass/screen.sass */
.post-head h4 {
  font-weight: 300;
  text-align: center; }

/* line 151, ../_sass/screen.sass */
.vine-head .container {
  background: #75795f; }

/* line 155, ../_sass/screen.sass */
.blog-head .container {
  background: #86857f; }

/* line 159, ../_sass/screen.sass */
.projects-head .container {
  background: #9a8170; }

/* line 163, ../_sass/screen.sass */
.about-head .container {
  background: #507881; }

/* line 166, ../_sass/screen.sass */
.post-content {
  padding: 40px 0; }

/* line 170, ../_sass/screen.sass */
.post-content p {
  max-width: 900px; }

/* line 174, ../_sass/screen.sass */
.post-content .container {
  background: white; }

/* line 177, ../_sass/screen.sass */
footer {
  background: #fed965; }

/* line 180, ../_sass/screen.sass */
.footer-main {
  padding: 40px 0; }

/* line 183, ../_sass/screen.sass */
.social {
  height: 50px;
  width: 50px; }

/* line 188, ../_sass/screen.sass */
.social-btns li {
  display: block;
  float: right;
  margin-left: 1%;
  text-indent: -9999px; }

/* line 194, ../_sass/screen.sass */
.twitter {
  background: url(../images/twitter.png) 0 0 no-repeat; }

/* line 197, ../_sass/screen.sass */
.linkedin {
  background: url(../images/linkedin.png) 0 0 no-repeat; }

/* line 200, ../_sass/screen.sass */
.github {
  background: url(../images/github.png) 0 0 no-repeat; }

/* line 204, ../_sass/screen.sass */
.social-btns li:hover {
  background-position: 0 -50px; }

/* line 207, ../_sass/screen.sass */
.about-img {
  float: left;
  margin-right: 1.5rem;
  height: 250px;
  width: 250px; }

/* line 213, ../_sass/screen.sass */
.post-type {
  text-transform: capitalize; }

/* line 216, ../_sass/screen.sass */
ul.about-list {
  list-style: disc;
  list-style-position: outside; }
  /* line 219, ../_sass/screen.sass */
  ul.about-list li {
    display: list-item;
    padding-bottom: 1rem;
    margin-left: 1.5rem; }

@-moz-document url-prefix() {
  /* line 225, ../_sass/screen.sass */
  .title {
    font-size: 160px; } }

@media screen and (max-width: 1192px) {
  /* line 232, ../_sass/screen.sass */
  .title {
    font-size: 150px;
    padding-top: 120px; }

  /* line 236, ../_sass/screen.sass */
  .logo {
    padding-top: 30px; }

  @-moz-document url-prefix() {
    /* line 240, ../_sass/screen.sass */
    .title {
      font-size: 143px; } } }
@media screen and (max-width: 1020px) {
  /* line 244, ../_sass/screen.sass */
  .title {
    font-size: 130px; }

  /* line 248, ../_sass/screen.sass */
  .three-of-five .post-span {
    width: 100%; }

  @-moz-document url-prefix() {
    /* line 252, ../_sass/screen.sass */
    .title {
      font-size: 120px; } } }
@media screen and (max-width: 910px) {
  /* line 256, ../_sass/screen.sass */
  .title {
    font-size: 115px;
    padding-top: 100px;
    @-moz-document url-prefix() {
      /* line 261, ../_sass/screen.sass */
      .title {
        font-size: 95px; } }
 } }
@media screen and (max-width: 830px) {
  /* line 265, ../_sass/screen.sass */
  .title {
    font-size: 100px;
    letter-spacing: 2px;
    padding-top: 80px; }
    /* line 269, ../_sass/screen.sass */
    .title span {
      letter-spacing: 4px; }

  @-moz-document url-prefix() {
    /* line 273, ../_sass/screen.sass */
    .title {
      font-size: 85px; } }

  /* line 277, ../_sass/screen.sass */
  nav li {
    font-size: 90%; }

  /* line 280, ../_sass/screen.sass */
  h2 {
    font-size: 1.3rem; }

  /* line 283, ../_sass/screen.sass */
  .post-head h4 {
    font-size: 80%;
    text-align: left; }

  /* line 288, ../_sass/screen.sass */
  .post-head .unit.one-of-five {
    margin-left: 2%; }

  /* line 291, ../_sass/screen.sass */
  .about-img {
    float: none;
    margin-bottom: 1rem; } }
@media screen and (max-width: 700px) {
  /* line 297, ../_sass/screen.sass */
  .title {
    font-size: 85px; } }
@media screen and (max-width: 650px) {
  /* line 302, ../_sass/screen.sass */
  .title-container .unit.title-unit {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 4%;
    padding-bottom: 0;
    width: 60%; }
  /* line 309, ../_sass/screen.sass */
  .title-container .unit.logo-unit {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 3%;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 30%; }

  /* line 318, ../_sass/screen.sass */
  .logo {
    height: 80%;
    width: 80%;
    padding-top: 0; }

  /* line 324, ../_sass/screen.sass */
  .title {
    font-size: 70px;
    letter-spacing: 1px;
    padding-top: 60px; }

  @-moz-document url-prefix() {
    /* line 330, ../_sass/screen.sass */
    .title {
      font-size: 65px; } }

  /* line 335, ../_sass/screen.sass */
  header nav li {
    border-bottom: 1px solid #fed965; }

  /* line 340, ../_sass/screen.sass */
  footer nav li {
    border-top: 1px solid #fed965; }

  /* line 343, ../_sass/screen.sass */
  .post-head .container {
    padding: 10px 0; }

  /* line 346, ../_sass/screen.sass */
  .post-title {
    font-size: 28px;
    text-align: center; }

  /* line 351, ../_sass/screen.sass */
  .post-head h4 {
    line-height: 18px; }

  /* line 355, ../_sass/screen.sass */
  .post-head h3 {
    line-height: 32px; }

  /* line 359, ../_sass/screen.sass */
  .post-date {
    margin-top: 5px; }

  /* line 362, ../_sass/screen.sass */
  h2.tag-line-border {
    margin-bottom: 30px; }

  /* line 365, ../_sass/screen.sass */
  .post-head h4 {
    font-size: 100%;
    text-align: center; }

  /* line 369, ../_sass/screen.sass */
  .social-btns {
    height: 50px;
    width: 155px;
    margin: auto; } }
@media screen and (max-width: 600px) {
  /* line 375, ../_sass/screen.sass */
  .title {
    font-size: 60px;
    padding-top: 60px; }

  @-moz-document url-prefix() {
    /* line 380, ../_sass/screen.sass */
    .title {
      font-size: 55px; } } }
@media screen and (max-width: 530px) {
  /* line 384, ../_sass/screen.sass */
  .title {
    font-size: 50px;
    padding-top: 50px; }

  @-moz-document url-prefix() {
    /* line 389, ../_sass/screen.sass */
    .title {
      font-size: 45px; } } }
@media screen and (max-width: 450px) {
  /* line 393, ../_sass/screen.sass */
  .title {
    font-size: 45px;
    padding-top: 45px; }

  @-moz-document url-prefix() {
    /* line 398, ../_sass/screen.sass */
    .title {
      font-size: 40px; } } }
@media screen and (max-width: 420px) {
  /* line 402, ../_sass/screen.sass */
  .title {
    font-size: 40px;
    padding-top: 40px; }

  @-moz-document url-prefix() {
    /* line 407, ../_sass/screen.sass */
    .title {
      font-size: 35px; } } }
