/* line 17, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/toast.sass */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/toast.sass */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 0 1.5rem;
}

/* line 15, ../sass/toast.sass */
.grid {
  margin-left: -3%;
  max-width: 105%;
}

/* line 19, ../sass/toast.sass */
.unit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 3%;
  margin-right: -0.25em;
  overflow: hidden;
  *overflow: visible;
}
/* line 29, ../sass/toast.sass */
.unit.demo {
  background-color: #fff8eb;
  height: 48px;
  height: 3rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 36, ../sass/toast.sass */
.span-grid {
  width: 97%;
}

/* line 39, ../sass/toast.sass */
.one-of-two {
  width: 47%;
}

/* line 42, ../sass/toast.sass */
.one-of-three {
  width: 30.36%;
}

/* line 45, ../sass/toast.sass */
.two-of-three {
  width: 63.66667%;
}

/* line 48, ../sass/toast.sass */
.one-of-four {
  width: 22.05%;
}

/* line 51, ../sass/toast.sass */
.three-of-four {
  width: 72%;
}

/* line 54, ../sass/toast.sass */
.one-of-five {
  width: 17.01%;
}

/* line 57, ../sass/toast.sass */
.two-of-five {
  width: 37%;
}

/* line 60, ../sass/toast.sass */
.three-of-five {
  width: 57%;
}

/* line 63, ../sass/toast.sass */
.four-of-five {
  width: 77%;
}

@media screen and (max-width: 650px) {
  /* line 67, ../sass/toast.sass */
  .grid {
    margin-left: 0;
    max-width: none;
  }

  /* line 70, ../sass/toast.sass */
  .unit {
    width: auto;
    margin-left: 0;
    display: block;
  }
}
/* line 75, ../sass/toast.sass */
p, .p, ul, ol, hr, table, form, pre, h1, .alpha, h2, .beta {
  margin-bottom: 30px;
  margin-bottom: 1.5rem;
}

/* line 79, ../sass/toast.sass */
h1, .alpha {
  font-size: 60px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

/* line 85, ../sass/toast.sass */
h2, .beta {
  font-size: 30px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
}

/* line 91, ../sass/toast.sass */
h3, .gamma {
  font-size: 20px;
  font-size: 1rem;
  font-weight: 700;
}

/* line 96, ../sass/toast.sass */
hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1px;
}

/* line 101, ../sass/toast.sass */
html {
  font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 650px) {
  /* line 105, ../sass/toast.sass */
  html {
    font-size: 100%;
  }
}
/* line 16, ../sass/screen.sass */
html {
  background: #fed965;
}

/* line 19, ../sass/screen.sass */
body {
  background: white;
}

/* line 22, ../sass/screen.sass */
body {
  font-family: "Lato", sans-serif;
}

/* line 25, ../sass/screen.sass */
.title, nav, .post-title {
  font-family: "Pathway Gothic One", sans-serif;
}

/* line 28, ../sass/screen.sass */
img {
  width: 100%;
}

/* line 31, ../sass/screen.sass */
iframe {
  height: 700px;
  width: 100%;
}

/* line 35, ../sass/screen.sass */
.logo {
  height: 90%;
  width: 90%;
}

/* line 39, ../sass/screen.sass */
.title {
  font-size: 177px;
  letter-spacing: 4px;
  padding-top: 100px;
}

/* line 44, ../sass/screen.sass */
footer {
  font-size: 90%;
}

/* line 47, ../sass/screen.sass */
nav {
  color: #dd684d;
}

/* line 50, ../sass/screen.sass */
p {
  color: #75795f;
}

/* line 53, ../sass/screen.sass */
a {
  color: #dd684d;
  text-decoration: none;
}

/* line 57, ../sass/screen.sass */
a:hover {
  color: #cf4728;
  text-decoration: underline;
}

/* line 61, ../sass/screen.sass */
a.current-blog {
  color: #86857f;
}

/* line 64, ../sass/screen.sass */
a.current-blog:hover {
  color: #6c6b66;
  text-decoration: underline;
}

/* line 68, ../sass/screen.sass */
a.current-projects {
  color: #9a8170;
}

/* line 71, ../sass/screen.sass */
a.current-projects:hover {
  color: #7e6859;
  text-decoration: underline;
}

/* line 75, ../sass/screen.sass */
a.current-vine {
  color: #75795f;
}

/* line 78, ../sass/screen.sass */
a.current-vine:hover {
  color: #595c49;
  text-decoration: underline;
}

/* line 82, ../sass/screen.sass */
a.current-about {
  color: #507881;
}

/* line 85, ../sass/screen.sass */
a.current-about:hover {
  color: #3c5b62;
  text-decoration: underline;
}

/* line 89, ../sass/screen.sass */
.title a {
  color: #f7fe9c;
}

/* line 92, ../sass/screen.sass */
.title a:hover {
  color: #fafec4;
  text-decoration: none;
}

/* line 97, ../sass/screen.sass */
header li, footer li {
  text-align: center;
}

/* line 100, ../sass/screen.sass */
.title {
  color: #f7fe9c;
}

/* line 103, ../sass/screen.sass */
header {
  background: #fed965;
}

/* line 107, ../sass/screen.sass */
header nav, footer nav {
  background: #f7fe9c;
}

/* line 110, ../sass/screen.sass */
h2.tag-line {
  color: #86857f;
  margin-bottom: 15px;
  line-height: 1;
  text-align: center;
}

/* line 116, ../sass/screen.sass */
h2.tag-line-border {
  margin-bottom: 40px;
}

/* line 120, ../sass/screen.sass */
header nav, footer nav {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
}

/* line 127, ../sass/screen.sass */
.title span {
  letter-spacing: 10px;
}

/* line 131, ../sass/screen.sass */
.post-head .container {
  height: 50px;
}

/* line 135, ../sass/screen.sass */
.post-head h3, .post-head h4 {
  color: white;
  line-height: 50px;
  font-weight: 200;
}

/* line 140, ../sass/screen.sass */
.post-title {
  text-transform: capitalize;
  font-size: 30px;
}

/* line 145, ../sass/screen.sass */
.post-head h4 {
  font-weight: 300;
  text-align: center;
}

/* line 150, ../sass/screen.sass */
.vine-head .container {
  background: #75795f;
}

/* line 154, ../sass/screen.sass */
.blog-head .container {
  background: #86857f;
}

/* line 158, ../sass/screen.sass */
.projects-head .container {
  background: #9a8170;
}

/* line 162, ../sass/screen.sass */
.about-head .container {
  background: #507881;
}

/* line 165, ../sass/screen.sass */
.post-content {
  padding: 40px 0;
}

/* line 169, ../sass/screen.sass */
.post-content p {
  max-width: 900px;
}

/* line 173, ../sass/screen.sass */
.post-content .container {
  background: white;
}

/* line 176, ../sass/screen.sass */
footer {
  background: #fed965;
}

/* line 179, ../sass/screen.sass */
.footer-main {
  padding: 40px 0;
}

/* line 182, ../sass/screen.sass */
.social {
  height: 50px;
  width: 50px;
}

/* line 187, ../sass/screen.sass */
.social-btns li {
  display: block;
  float: right;
  margin-left: 1%;
  text-indent: -9999px;
}

/* line 193, ../sass/screen.sass */
.twitter {
  background: url(../media/images/twitter.png) 0 0 no-repeat;
}

/* line 196, ../sass/screen.sass */
.linkedin {
  background: url(../media/images/linkedin.png) 0 0 no-repeat;
}

/* line 199, ../sass/screen.sass */
.github {
  background: url(../media/images/github.png) 0 0 no-repeat;
}

/* line 203, ../sass/screen.sass */
.social-btns li:hover {
  background-position: 0 -50px;
}

@media screen and (max-width: 1192px) {
  /* line 209, ../sass/screen.sass */
  .title {
    font-size: 150px;
    padding-top: 120px;
  }

  /* line 213, ../sass/screen.sass */
  .logo {
    padding-top: 30px;
  }
}
@media screen and (max-width: 1020px) {
  /* line 217, ../sass/screen.sass */
  .title {
    font-size: 130px;
  }
}
@media screen and (max-width: 910px) {
  /* line 221, ../sass/screen.sass */
  .title {
    font-size: 115px;
    padding-top: 100px;
  }
}
@media screen and (max-width: 830px) {
  /* line 226, ../sass/screen.sass */
  .title {
    font-size: 100px;
    letter-spacing: 2px;
    padding-top: 80px;
  }
  /* line 230, ../sass/screen.sass */
  .title span {
    letter-spacing: 4px;
  }

  /* line 234, ../sass/screen.sass */
  nav li {
    font-size: 90%;
  }

  /* line 237, ../sass/screen.sass */
  h2 {
    font-size: 1.3rem;
  }

  /* line 240, ../sass/screen.sass */
  .post-head h4 {
    font-size: 80%;
    text-align: left;
  }

  /* line 245, ../sass/screen.sass */
  .post-head .unit.one-of-five {
    margin-left: 2%;
  }
}
@media screen and (max-width: 700px) {
  /* line 248, ../sass/screen.sass */
  .title {
    font-size: 85px;
  }
}
@media screen and (max-width: 650px) {
  /* line 253, ../sass/screen.sass */
  .title-container .unit.title-unit {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 3%;
    margin-right: 4%;
    padding-bottom: 0;
    width: 60%;
  }
  /* line 260, ../sass/screen.sass */
  .title-container .unit.logo-unit {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 3%;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 30%;
  }

  /* line 269, ../sass/screen.sass */
  .logo {
    height: 80%;
    width: 80%;
    padding-top: 0;
  }

  /* line 275, ../sass/screen.sass */
  .title {
    font-size: 70px;
    letter-spacing: 1px;
    padding-top: 60px;
  }

  /* line 282, ../sass/screen.sass */
  header nav li {
    border-bottom: 1px solid #fed965;
  }

  /* line 287, ../sass/screen.sass */
  footer nav li {
    border-top: 1px solid #fed965;
  }

  /* line 290, ../sass/screen.sass */
  .post-head .container {
    height: 115px;
  }

  /* line 293, ../sass/screen.sass */
  .post-title {
    text-align: center;
  }

  /* line 297, ../sass/screen.sass */
  .post-head h4 {
    line-height: 25px;
  }

  /* line 300, ../sass/screen.sass */
  h2.tag-line-border {
    margin-bottom: 30px;
  }

  /* line 303, ../sass/screen.sass */
  .post-head h4 {
    font-size: 100%;
    text-align: center;
  }

  /* line 307, ../sass/screen.sass */
  .social-btns {
    height: 50px;
    width: 155px;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  /* line 313, ../sass/screen.sass */
  .title {
    font-size: 60px;
    padding-top: 60px;
  }
}
@media screen and (max-width: 530px) {
  /* line 318, ../sass/screen.sass */
  .title {
    font-size: 50px;
    padding-top: 50px;
  }
}
@media screen and (max-width: 450px) {
  /* line 323, ../sass/screen.sass */
  .title {
    font-size: 45px;
    padding-top: 45px;
  }
}
@media screen and (max-width: 420px) {
  /* line 328, ../sass/screen.sass */
  .title {
    font-size: 40px;
    padding-top: 40px;
  }
}
