/* line 1, ../_sass/toast.sass */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, ../_sass/toast.sass */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 0 1.5rem; }

/* line 15, ../_sass/toast.sass */
.grid {
  margin-left: -3%;
  max-width: 105%; }

/* line 19, ../_sass/toast.sass */
.unit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 3%;
  margin-right: -0.25em;
  overflow: hidden;
  *overflow: visible; }
  /* line 29, ../_sass/toast.sass */
  .unit.demo {
    background-color: #fff8eb;
    height: 48px;
    height: 3rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem; }

/* line 36, ../_sass/toast.sass */
.span-grid {
  width: 97%; }

/* line 39, ../_sass/toast.sass */
.one-of-two {
  width: 47%; }

/* line 42, ../_sass/toast.sass */
.one-of-three {
  width: 30.36%; }

/* line 45, ../_sass/toast.sass */
.two-of-three {
  width: 63.66667%; }

/* line 48, ../_sass/toast.sass */
.one-of-four {
  width: 22.05%; }

/* line 51, ../_sass/toast.sass */
.three-of-four {
  width: 72%; }

/* line 54, ../_sass/toast.sass */
.one-of-five {
  width: 17.01%; }

/* line 57, ../_sass/toast.sass */
.two-of-five {
  width: 37%; }

/* line 60, ../_sass/toast.sass */
.three-of-five {
  width: 57%; }

/* line 63, ../_sass/toast.sass */
.four-of-five {
  width: 77%; }

@media screen and (max-width: 650px) {
  /* line 67, ../_sass/toast.sass */
  .grid {
    margin-left: 0;
    max-width: none; }

  /* line 70, ../_sass/toast.sass */
  .unit {
    width: auto;
    margin-left: 0;
    display: block; } }
/* line 75, ../_sass/toast.sass */
p, .p, ul, ol, hr, table, form, pre, h1, .alpha, h2, .beta {
  margin-bottom: 30px;
  margin-bottom: 1.5rem; }

/* line 79, ../_sass/toast.sass */
h1, .alpha {
  font-size: 60px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1; }

/* line 85, ../_sass/toast.sass */
h2, .beta {
  font-size: 30px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2; }

/* line 91, ../_sass/toast.sass */
h3, .gamma {
  font-size: 20px;
  font-size: 1rem;
  font-weight: 700; }

/* line 96, ../_sass/toast.sass */
hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1px; }

/* line 101, ../_sass/toast.sass */
html {
  font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif; }

@media screen and (max-width: 650px) {
  /* line 105, ../_sass/toast.sass */
  html {
    font-size: 100%; } }
