<!DOCTYPE html>
<html lang="en">
{% include _head.html %}
<body>
  {% include _header.html %}
  <section>
    <div class="container">
      <div class="grid">
        <div class="unit span-grid">
          <h2 class="tag-line">Nomad, weirdo, developer of wonderful things.</h2>
          <h2 class="tag-line tag-line-border">Stay curious.</h2>
        </div>
      </div>
    </div>
  </section>

  {% include _posts.html %}

  <footer>
    <nav>
      <div class="container">
        <div class="grid">
          <ul>
            <li class="unit one-of-five"><a href="index.html">Home</a></li>
            <li class="unit one-of-five"><a href="about.html">About</a></li>
            <li class="unit one-of-five"><a href="projects.html">Projects</a></li>
            <li class="unit one-of-five"><a href="blog.html">Blog</a></li>
            <li class="unit one-of-five"><a href="vine.html">Vine</a></li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="container">
        <div class="grid">
          <ul class="footer-main">
            <li class="unit one-of-three"><small>&copy;Copyright 2013 <a href="https://twitter.com/eeeschwartz" target="blank">Erik Schwartz</a></small></li>
            <li class="unit one-of-three">Handcrafted and designed by <a href="http://smithschwartz.com" target="blank">Smith Schwartz</a></li>
            <li class="unit one-of-three">Portrait illustration by <a href="https://twitter.com/ryanscheidt" target="blank">Ryan Schiedt</a></li>
          </ul>
        </div>
      </div>
  </footer>
</body>
</html>
